<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <title>File-Upload</title>
  </head>
  <body>
    <div class="container">
      <h1>File Upload</h1>

      <!-- EJS syntax -->

      <form action="/files" method="POST" enctype="multipart/form-data">
        <div class="file-field input-field">
          <div class="btn grey">
            <span>Choose File</span>
            <input type="file" name="file" />
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" />
          </div>
        </div>
        <button type="submit" class="btn">Submit</button>
      </form>
      <br />

      <% if(files) { %>
        <% files.reverse().forEach(file => { %>
          <div class="row">
            <div class="col m4">
              <div class="card">
                <% if(file.isImage) { %>
                  <div class="card-image">
                    <img src="images/<%= file.filename %>" alt="From MongoDB" />
                  </div>
                <% } else { %>
                  <div>
                    <p><%= file.filename %></p>
                  </div>
                <% } %>
                <form action="/files/<%= file._id %>?_method=DELETE" method="POST">
                  <button class="btn red" style="margin: 0.5rem 0 0 0; width: 100%;">Delete</button>
                </form>
              </div>
            </div>
          </div>
        <% }) %>
      <% } else { %>
        <h3>No files to show</h3>
      <% } %>

    </div>

    <!-- Jquery CDN 3 minified to use materialize JS -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
